header h1 {
font-family: "Open Sans", sans-serif;
font-weight: 400;
font-size: 35px;
color: #3a383d;
text-transform: uppercase;
text-align: center;
}


header h2 {
font-family: "Open Sans", sans-serif;
font-weight: 500;
font-size: 18px;
letter-spacing: 1px;
color: #3a383d;
text-transform: uppercase;
font-style: italic;
text-align: center;
}

header nav ul {

display: inline-block;
/*margin: 0 auto;
/*text-align: center; /*IE*/
    
    
/*I*/
width: 90%;

display: flex;
flex-direction: row;
     align-items: center;
justify-content: space-around;
}

header nav ul li {

/*display: inline-block;  
    */
display: flex;
padding: 0px 10px 0px 10px;

/*align-content: space-around;
/*text-align: center;*/


}

header nav ul li a {

font-family: "Open Sans", sans-serif;
font-weight: 340;
font-size: 23px;
letter-spacing: 3px;
color: #172029;
text-transform: uppercase;
text-decoration: none;
}

hr {
    display:none;
}

header {
    width: auto;
    align-content: center;
    
}

header .banner {

background-image: url("img/banner.jpg");
width: calc(100% - 80px);
height: calc(100vh - 520px);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
display: table;
}


.meist-section{
    /*height: 200px;*/
    width: calc(100% - 160px);
    align-content: center;
    position: relative;
    
    
     
    
}

.meist {

float:left;
width: 45%;
height: 10%;
font-family: "Open Sans", sans-serif;
font-weight: 300;
font-size: 15px;
letter-spacing: 1px;
color: #282828;

text-align: left;
}

.meist-img{
    float: right;
    width: 45%;
    padding-right: 0px;
    overflow: hidden;
    /*display: none;*/
}

.gallery-h3 {

font-family: "Gentium Basic", sans-serif;
font-weight: 350;
font-size: 26px;
letter-spacing: 2px;
padding: 5px 40px;
color: #3a383d;
text-transform: uppercase;
text-align: left;
clear:both;
display: none;


}
.gallery-image img {
    
    display: inline;
    height: 100%;
    width:  auto;
    text-align: center;
    -webkit-flex-basis: 300px;
    -moz-flex-basis: 300px;
    flex-basis: 300px;
   


}
.gallery-links {
clear: both;
padding-top: 20px;
display: flex;
align-items: center;
/*flex-flow: row wrap;
    
display: flex;*/
flex-direction: row;
     justify-content: space-around;
  
/*display: -webkit-flex;
-webkit-flex-flow: row wrap;
display: -moz-flex;
-moz-flex-flow: row wrap;
justify-content: center;
-o-flex-flow: row wrap;*/


}

.container {
width:220px;
height: 220px;
position: relative;
overflow:hidden;
border-radius: 50%;
margin: 0 20px 20px auto;

}

.gallery-h2 {

font-family: "Gentium Basic", sans-serif;
font-weight: 350;
font-size: 26px;
letter-spacing: 2px;
padding-left: 80px;
color: #3a383d;
text-transform: uppercase;
text-align: left;
clear:both;


}
.post-header {       

/*kujundus*/
white-space: nowrap;
 
font-family: "Open Sans", sans-serif;
font-weight: 400;
font-size: 22px;
letter-spacing: 1px;
//line-height: 22px;
color: #ffffff;
text-transform: uppercase;
text-shadow: 3px 3px 9px #111111;

   /*positsioneerimine*/

position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%, -20%);

}

footer {

width: calc(100% - 20px);
padding: 10px 10px;
background-color: #DCDCDC;
margin-top: 10px;
overflow: hidden;
}
.footer-sm {
width: 32px;
float: right;
padding: 0 0 10px 0;
}

.footer-sm img {
width: 200%;
float: right;
padding-top: 10px;
padding-right: 40px;
padding-bottom:10px;
}

footer ul {
float: left;
padding: 30px 0px 0px 40px;
width: fit-content;
}

footer ul li {
font-family: "Open Sans", sans-serif;
display: block;
font-size: 18px;
letter-spacing: 0px;
color: #808080;
text-transform: lowercase;
    }


@media screen and (max-width:720px){


header nav ul {

display: inline-block;
/*margin: 0 auto;
/*text-align: center; /*IE*/
    
    
/*I*/
width: 90%;

display: flex;
flex-direction: row;
     align-items: center;
justify-content: space-between;
}

header nav ul li {

/*display: inline-block;  
    */
display: flex;
padding: 0px 10px 0px 10px;

align-content: space-around;
/*text-align: center;*/


}

header nav ul li a {

font-family: "Open Sans", sans-serif;
font-weight: 340;
font-size: 23px;
letter-spacing: 3px;
color: #172029;
text-transform: uppercase;
text-decoration: none;
}

hr {

color: #4f5663;
border-width: 2px;
width: 50%;
margin: 0 auto;
margin-bottom: 5px;

}


header .banner {

background-image: url("img/banner.jpg");
width: 100%;
height: calc(100vh - 620px);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
display: table;
}


.meist-section{
    height: 100%;
    width: calc(100% - 10px);
    position: relative;
    
     
    
}

.meist {

/*float:left;*/
width: 80%;
height: 10%;
font-family: "Open Sans", sans-serif;
font-weight: 300;
font-size: 15px;
letter-spacing: 1px;
color: #282828;
padding-left: 40px;
}

.meist-img{
    float: right;
    padding-right: 10px;
    overflow: hidden;
    display: none;
}



.gallery-h2 {

font-family: "Gentium Basic", sans-serif;
font-weight: 350;
font-size: 26px;
letter-spacing: 2px;
padding: 5px 40px;
color: #3a383d;
text-transform: uppercase;
text-align: left;
clear:both;


}
    
    
.gallery-h3 {

font-family: "Gentium Basic", sans-serif;
font-weight: 350;
font-size: 26px;
letter-spacing: 2px;
padding: 5px 40px;
color: #3a383d;
text-transform: uppercase;
text-align: left;
clear:both;


}

.container {
width:220px;
height: 220px;
position: relative;
overflow:hidden;
border-radius: 50%;
margin: 0 20px 20px auto;

}



.gallery-image img {
    
    display: inline;
    height: 100%;
    width:  auto;
    text-align: center;
    -webkit-flex-basis: 300px;
    -moz-flex-basis: 300px;
    flex-basis: 300px;


}
.gallery-links {

clear:both;
padding-top: 20px;
    display: flex;
align-items: center;
/*flex-flow: row wrap;
    
display: flex;*/
flex-direction: column;
  
/*display: -webkit-flex;
-webkit-flex-flow: row wrap;
display: -moz-flex;
-moz-flex-flow: row wrap;
justify-content: center;
-o-flex-flow: row wrap;*/


}

.post-header {       

/*kujundus*/
white-space: nowrap;
 
font-family: "Open Sans", sans-serif;
font-weight: 400;
font-size: 22px;
letter-spacing: 1px;
//line-height: 22px;
color: #ffffff;
text-transform: uppercase;
text-shadow: 3px 3px 9px #111111;

   /*positsioneerimine*/

position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%, -20%);

}
footer {

width: calc(100% - 20px);
padding: 10px 10px;
background-color: #DCDCDC;
margin-top: 10px;
overflow: hidden;
}
.footer-sm img {
width: 200%;
float: right;
padding-top: 10px;
padding-right: 20px;
padding-bottom:10px;
}

footer ul {
float: left;
padding: 30px 0px 0px 20px;
width: fit-content;
}

}